TEMA 11/Ejemplo 1/biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="libro">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"></xs:element>
                <xs:element name="autor" type="xs:string" maxOccurs="2"></xs:element>
                <xs:element name="editorial" type="xs:string"></xs:element>
                <xs:choice>
                    <xs:element name="precio" type="xs:double"></xs:element>
                    <xs:element name="precio_sin_iva" type="xs:double"></xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>

    </xs:element>
</xs:schema>